<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
    crossorigin="anonymous"
/>
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-6 text-center">
            <span>SỞ LAO ĐỘNG-THƯƠNG BINH</span>
            <br />
            <span>VÀ XÃ HỘI TP CẦN THƠ</span>
            <h5>TRUNG TÂM DỊCH VỤ VIỆC LÀM</h5>
        </div>
        <div class="col-md-6 text-center">
            <h5>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h5>
            <h6>Độc lập - Tự do - Hạnh phúc</h6>
            <i>Cần Thơ, ngày ... tháng ... năm ...</i>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-center">
            <b>KẾT QUẢ HỌC VIÊN TỐT NGHIỆP CUỐI KHÓA</b><br>
            <b>Lớp: ...</b><br>
            <span>Ngày khai giảng: ...</span><br>
            <span>Ngày thi: ...</span><br>
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-md-11">
            <table border="1" class="w-100 text-center align-middle">
                <thead>
                    <tr>
                        <th class="align-middle" rowspan="2">STT</th>
                        <th class="align-middle" rowspan="2">HỌ VÀ TÊN</th>
                        <th class="align-middle" rowspan="2">GIỚI TÍNH</th>
                        <th class="align-middle" rowspan="2">NĂM SINH</th>
                        <th class="align-middle" rowspan="2">
                            ĐỊA CHỈ THƯƠNG TRÚ
                        </th>
                        <th class="align-middle" colspan="3">ĐIỂM</th>
                        <th class="align-middle" rowspan="2">KẾT QUẢ</th>
                        <th class="align-middle" rowspan="2">GHI CHÚ</th>
                    </tr>
                    <tr>
                        <th>LÝ THUYẾT</th>
                        <th>THỰC HÀNH</th>
                        <th>TRUNG BÌNH</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4 text-center">
            <b>NGƯỜI LẬP BẢN</b>
        </div>
        <div class="col-md-4 text-center">
            <b>PHÒNG ĐÀO TẠO - VIỆC LÀM</b>
        </div>
        <div class="col-md-4 text-center">
            <b>GIÁM ĐỐC</b>
        </div>
    </div>
</div>
<script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"
></script>
